<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.GraylogHttp"/>
  </extensions>
  <targets>
    <target name="graylog"
            xsi:type="GraylogHttp"
            facility="Jellyfin"
            graylogServer="http://pegazus.space"
            graylogPort="12201">
      <!-- Location information. -->
      <parameter name="source_method" layout="${callsite}" />
      <parameter name="source_line" layout="${callsite-linenumber}" />

      <parameter name="test_prop" layout="${event-context:item=test_prop}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" appendTo="graylog"/>
  </rules>
</nlog>